@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', Arial, sans-serif;
    line-height: 1.6;
    color: #ecf0f1;
    margin: 0;
    transition: background-color 0.3s ease;
    background: linear-gradient(to bottom right, rgb(16, 14, 36), rgb(54, 0, 51), rgb(17, 0, 68)); /* Gradiente de colores */
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

header h2 {
    font-size: 30px;           /* Tamaño del texto (ajústalo según tus preferencias) */
        color: rgb(255, 255, 255);             /* Color del texto (amarillo en este caso) */
        text-shadow: 
          -3px -3px 0 rgb(125, 74, 198),        /* Sombra superior izquierda (color azul) */
           3px -3px 0 rgb(125, 74, 198),        /* Sombra superior derecha (color azul) */
          -3px  3px 0 rgb(125, 74, 198),        /* Sombra inferior izquierda (color azul) */
           3px  3px 0 rgb(125, 74, 198);        /* Sombra inferior derecha (color azul) */
           margin-bottom: 1px;
}

/* Estilos del contenedor del encabezado */
.search-container {
    position: fixed;
    justify-content: center;
    width: 100%;
    top: 0;
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
    color: #fff;
    text-align: center;
    margin-bottom: 1px;

}


.search-container.scrolling {
    background: rgba(16, 14, 36, 0.748); /* Fondo semi-transparente */
}

/* Estilos de la barra de búsqueda y ordenación */
.search-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(16, 14, 36);
    transition: background-color 0.3s ease;
}

.search-controls{
    display: flex;
    align-items: center;
}

#searchInput, #btnBuscar, #btnEstadisticas {
    text-decoration: none;
    padding: 12px;
    border: 1px solid #a569bd;
    border-radius: 5px;
    font-size: 14px;
    color: #ecf0f1;
    background-color: rgba(255, 255, 255, 0.19);
    transition: background-color 0.3s ease;
    margin-bottom: 1px;
}

#searchInput{
    width: 130vh;
    
}

#btnBuscar, #btnEstadisticas {
    font-family: 'Pixelify Sans', Arial, sans-serif;
    background-color: #5d167c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btnEstadisticas {
    padding: 9px;
    margin-bottom: 2px;
    margin-right: 1%;
}

#btnBuscar:hover, #btnEstadisticas:hover {
    background-color: #2bc0c0;
    transform: scale(1.1);
}

label {
    color: #ecf0f1;
    margin-right: 10px;
}

/* Estilos de la navegación de géneros */
.nav {
    text-align: center;
    margin-top: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-genre {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Pixelify Sans', Arial, sans-serif; /* Agregado aquí */
}

.btn-genre:hover {
    transform: scale(1.1);
}

.btn-genre#ver-todos { background-color: #5E2750; color: #000000; } 
.btn-genre#Shooter { background-color: #67306E; color: #000000; } 
.btn-genre#MMOARPG { background-color: #71398B; color: #000000; } 
.btn-genre#ARPG { background-color: #7B42A8; color: #000000; }
.btn-genre#Strategy { background-color: #854CD6; color: #000000; } 
.btn-genre#electric { background-color: #8E56F3; color: #000000; } 
.btn-genre#Fighting { background-color: #9A6AF8; color: #000000; } 
.btn-genre#Action-RPG { background-color: #A67FFD; color: #000000; } 
.btn-genre#Battle-Royale { background-color: #B294FF; color: #000000; } 
.btn-genre#MOBA { background-color: #BEA8FF; color: #000000; } 
.btn-genre#Card { background-color: #CACDFF; color: #000000; } 
.btn-genre#Sports { background-color: #D6E1FF; color: #000000; } 
.btn-genre#Racing { background-color: #82B4D4; color: #000000; } 
.btn-genre#Card-Game { background-color: #6DA4CC; color: #000000; } 
.btn-genre#MMO { background-color: #5994C3; color: #000000; } 
.btn-genre#Social { background-color: #4682B9; color: #000000; } 
.btn-genre#MMORPG { background-color: #3361A3; color: #000000; } 
.btn-genre#Fantasy { background-color: #214F8E; color: #000000; }


/* Estilos de la información de videojuegos */
.todos-generos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.videojuego {
    border: 2px solid rgba(36, 14, 36, 0.768);
    background-color: rgba(255, 255, 255, 0.112);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.videojuego:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(142, 68, 173, 0.8);
}

.videojuego .nombre-contenedor {
    background-color: #a569bd87;
    text-align: center;
    color: #fff;
    height: 50px;
    padding: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.videojuego-tittle {
    margin: 0;
    font-size: 18px;
    color: #ecf0f1;
}

.videojuego-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videojuego-thumbnail img {
    padding: 10px;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.videojuego-info {
    padding: 15px;
}

.game_url{
    background-color: #7a476dbc;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
    color: #ecf0f1;   
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-size: 30px;           /* Tamaño del texto (ajústalo según tus preferencias) */
        color: rgb(255, 255, 255);             /* Color del texto (amarillo en este caso) */
        text-shadow: 
          -1px -1px 0  rgb(116, 17, 123),        /* Sombra superior izquierda (color azul) */
           1px -1px 0  rgb(116, 17, 123),        /* Sombra superior derecha (color azul) */
          -1px  1px 0  rgb(116, 17, 123),        /* Sombra inferior izquierda (color azul) */
           1px  1px 0 rgb(116, 17, 123);        /* Sombra inferior derecha (color azul) */
}

h3 {
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: 3%;
    font-size: 28px;
    color: rgb(255, 255, 255);             /* Color del texto (amarillo en este caso) */
    text-shadow: 
      -1px -1px 0  rgb(62, 139, 187),        /* Sombra superior izquierda (color azul) */
       1px -1px 0  rgb(62, 139, 187),        /* Sombra superior derecha (color azul) */
      -1px  1px 0  rgb(62, 139, 187),        /* Sombra inferior izquierda (color azul) */
       1px  1px 0 rgb(62, 139, 187);        /* Sombra inferior derecha (color azul) */
}

footer {
    background-color: #ff17bd0a;
    color: beige;
    justify-content:center;
}
.ordered-list {
    display: flex;
    justify-content: center;
}
