@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    font-family: 'Pixelify Sans', Arial, sans-serif;
    line-height: 1.6;
    color: #ecf0f1;
    margin: 0;
    transition: background-color 0.3s ease;
    background: linear-gradient(to bottom right, rgb(16, 14, 36), rgb(54, 0, 51), rgb(17, 0, 68)); /* Gradiente de colores */
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

header h2 {
    font-size: 30px;           /* Tamaño del texto (ajústalo según tus preferencias) */
        color: yellow;             /* Color del texto (amarillo en este caso) */
        text-shadow: 
          -1px -1px 0 blue,        /* Sombra superior izquierda (color azul) */
           1px -1px 0 blue,        /* Sombra superior derecha (color azul) */
          -1px  1px 0 blue,        /* Sombra inferior izquierda (color azul) */
           1px  1px 0 blue;        /* Sombra inferior derecha (color azul) */
}

/* Estilos del contenedor del encabezado */
.search-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
    color: #fff;
    text-align: center;
}


.search-container.scrolling {
    background: rgba(16, 14, 36, 0.745); /* Fondo semi-transparente */
}

/* Estilos de la barra de búsqueda y ordenación */
.search-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(16, 14, 36);
    transition: background-color 0.3s ease;
}

.search-controls{
    display: flex;
    align-items: center;
}

#searchInput, #btnBuscar, #btnEstadisticas {
    padding: 12px;
    border: 1px solid #a569bd;
    border-radius: 5px;
    font-size: 14px;
    color: #ecf0f1;
    background-color: rgba(255, 255, 255, 0.19);
    transition: background-color 0.3s ease;
}

#searchInput{
    width: 130vh;
    
}

#btnBuscar, #btnEstadisticas {
    background-color: #5d167c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btnEstadisticas {
    margin-right: 65px;

}

#btnBuscar:hover, #btnEstadisticas:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

label {
    color: #ecf0f1;
    margin-right: 10px;
}

/* Estilos de la navegación de géneros */
.nav {
    text-align: center;
    margin-top: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Colores diferentes para cada género */
.btn-genre {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-genre:hover {
    transform: scale(1.1);
}

.btn-genre#ver-todos { background-color: #5dade2; color: #fff; } 
.btn-genre#shooter { background-color: #8e44ad; color: #fff; } 
.btn-genre#MMOARPG { background-color: #e74c3c; color: #fff; } 
.btn-genre#ARPG { background-color: #9b59b6; color: #fff; } 
.btn-genre#Strategy { background-color: #a569bd; color: #fff; } 
.btn-genre#electric { background-color: #3498db; color: #fff; } 
.btn-genre#Fighting { background-color: #3498db; color: #fff; } 
.btn-genre#RPG { background-color: #1abc9c; color: #fff; } 
.btn-genre#Battle-Royale { background-color: #5dade2; color: #fff; } 
.btn-genre#MOBA { background-color: #3498db; color: #fff; } 
.btn-genre#Card { background-color: #95a5a6; color: #fff; } 
.btn-genre#Sports { background-color: #16a085; color: #fff; } 
.btn-genre#Racing { background-color: #8e44ad; color: #fff; } 
.btn-genre#Card-Game { background-color: #e74c3c; color: #fff; } 
.btn-genre#MMO { background-color: #3498db; color: #fff; } 
.btn-genre#Social { background-color: #2c3e50; color: #fff; } 
.btn-genre#MMORPG { background-color: #c0392b; color: #fff; } 
.btn-genre#Fantasy { background-color: #8e44ad; color: #fff; } 

/* Estilos de la información de videojuegos */
.todos-generos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.videojuego {
    border: 2px solid rgba(36, 14, 36, 0.768);
    background-color: rgba(255, 255, 255, 0.112);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.videojuego:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(142, 68, 173, 0.8);
}

.videojuego .nombre-contenedor {
    background-color: #a569bd87;
    color: #fff;
    height: 80px;
    padding: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.videojuego-tittle {
    margin: 0;
    font-size: 18px;
    color: #ecf0f1;
}

.videojuego-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videojuego-thumbnail img {
    padding: 10px;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.videojuego-info {
    padding: 15px;
}

h3 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 10px;
    font-size: 28px;
    color: #e74c3c;
}

footer {
    background-color: #ff17bd0a;
    color: beige;
    justify-content:center;
}